<h1 class="text-center">記事の新規作成</h1>
<div class="row">
  <div class="col-md-6 offset-3">
    
    <%= form_with(model:@article, url:users_articles_path, local: true) do |f| %>
      <%= render  'users/shared/error_messages',resource:@article %> 
     
      <%= f.label:title , class: "label-form" %>
      <%= f.text_field:title, class: "form-control" %>
      
      <%= f.label :content, class: "label-form" %>
      <%= f.text_area :content, rows:5, class: "form-control" %>
      <%= f.label :image %> 
      <%= f.file_field :img, id: :article_img %> 

      <div class="btn-article">
        <%= f.submit "新規作成", class: "btn btn-primary" %>
      </div>
    <% end %>
    
  </div>
</div>
