<h1 class="text-center">記事詳細</h1>
<div class="row">
  <div class="col-md-6 offset-3">
    <table class="table">
      <thead>
        <td>タイトル</td>
        <td>内容</td>
        <td>画像</td>
      </thead>
      <tbody>
        <td><%=@article.title %></td>
        <td><%=@article.content %></td>
        <td>
          <% if @article.img.present? %>
            <div class="img-area" %>
              <%= image_tag @article.img.url %>
            </div>
          <% end %>
        </td>
      </tbody>
    </table>
    <div class="btn-article">
      <%=link_to "編集", edit_users_article_path, class:"btn btn-success" %>
      <%=link_to "削除", users_article_path, method: :delete, class:"btn btn-danger" %><br/>
      <%=link_to "記事一覧へ戻る", users_articles_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
